<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Git Workflows - Best Practices for SPS</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="http://assets.bjerkness.net/revealjs/css/reveal.min.css">
		<link rel="stylesheet" href="http://assets.bjerkness.net/revealjs/css/theme/night.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="http://assets.bjerkness.net/revealjs/lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				<section>
					<h1>{{ title }}</h1>
					<h3>{{ subheading }}</h3>
				</section>

				{% for slide in slides %}
				<section data-transition="zoom">
					<h3>{{ slide.name }}</h3>

					{% if slide.type == "list" %}
						{% if slide.url %}
						<p class="fragment fade-in">[{{ slide.url }}]</p>
						{% endif %}
						<ul style="text-align: left;">
						{% for line in slide.content %}
						{% if  isdict(line) %}
						{% for key in line %}
							<li class="fragment roll-in">{{ key }}
								<ul>
									{% for sub_item in line[key] %}
									<li class="fragment roll-in">{{ sub_item }}</li>
									{% endfor %}
								</ul>
							</li>
						{% endfor %}
						{% elif line.startswith("<img") %}
						<p class="fragment roll-in">{{ line }}</p>
						{% else %}
						<li class="fragment roll-in">{{ line }}</li>
						{% endif %}
						{% endfor %}
						</ul>
					{% endif %}

					{% if slide.type == "image" %}
						{% if slide.url %}
						<p class="fragment fade-in">[{{ slide.url }}]</p>
						{% endif %}
						<img src="{{ slide.img_src }}" class="fragment zoom-in" />
					{% endif %}

				</section>
				{% endfor %}

				<section>
					<h1>THE END</h1>
					<h3>BY Super Team Happy Code</h3>
				</section>

			</div>

		</div>

		<script src="http://assets.bjerkness.net/revealjs/lib/js/head.min.js"></script>
		<script src="http://assets.bjerkness.net/revealjs/js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: false,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'http://assets.bjerkness.net/revealjs/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'http://assets.bjerkness.net/revealjs/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'http://assets.bjerkness.net/revealjs/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'http://assets.bjerkness.net/revealjs/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'http://assets.bjerkness.net/revealjs/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'http://assets.bjerkness.net/revealjs/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
